* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    outline: none;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.logo {
    width: 180px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    background-color: #f4f4f4;
    border-radius: 30px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,
input {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    border-radius: 5px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    width: 100%;
    border: none;
    height: 48px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: .8;
    background: linear-gradient(135deg, #2c5364, #203a43, #0f2027);
}

button:active {
    opacity: .3;
    
}

section {
    border: 1px solid #203a43;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin: 15px;
    width: 32px;
    opacity: 0.8;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}

.img {
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 75px;
}